sonar.projectKey=Breezy
sonar.projectName=Breezy
sonar.host.url=http://localhost:9000
# Token à mettre dans .env.sonar ou variable d'environnement SONAR_TOKEN
sonar.token=${env.SONAR_TOKEN}

# Sources
sonar.sources=apps,packages,tools
sonar.exclusions=**/node_modules/**,**/dist/**,**/*.test.ts,**/*.spec.ts,**/coverage/**,**/.turbo/**,**/prisma/**

# TypeScript Coverage Reports (all services)
sonar.typescript.lcov.reportPaths=\
  apps/auth-service/coverage/lcov.info,\
  apps/post-service/coverage/lcov.info,\
  apps/profile-service/coverage/lcov.info,\
  apps/media-service/coverage/lcov.info,\
  apps/notifications-service/coverage/lcov.info

# Encoding
sonar.sourceEncoding=UTF-8
