PORT=4040
DATABASE_URL=mongodb://localhost:27017/post_service
LOG_LEVEL=debug
PROFILE_SERVICE_URL=http://localhost:4010
RABBITMQ_URL=amqp://breezy:breezy@localhost:5672

LOG_FILE=./logs/post-service.log
