PORT=4030
DATABASE_URL=mongodb://localhost:27017/message_service
LOG_LEVEL=debug
PROFILE_SERVICE_URL=http://localhost:4010
RABBITMQ_URL=amqp://breezy:breezy@localhost:5672

JWT_PUBLIC_KEY="-----BEGIN RSA PUBLIC KEY-----\nMIIBCgKCAQEA5Zg0v2TOjTwOGDCkN3hF9InGtzUng3RbXDDm1QlFPrEa+r7wAl81\nkTSkUmAMQNK6Ot89Phyd48/h7Xc4AuL6Bot7pkZ0t+dSripAl9eSlBXNleiEbu9u\nPD/O/qdQVOpu88m6b+gHtvEKPUMt9C2TByEU82KOeTeH/u12nZOndJ4A8XeWM5XU\niEnpNY9fNuAc0+a0IhIVDypvM536AekAnBSZOh/+M98Dr9uWNbJRzUbX9bH7/Wkw\n5105PbZRxZQiQa7eq+eZKZbNK9pPIJRbxZhW8p5dp3UmJdJSZxMyjNMXzoQEFC68\nupP6D8xSFgD8cG1Rg8Kmc/6TleHyrFBkHwIDAQAB\n-----END RSA PUBLIC KEY-----"
